.column
{
	border: 1px solid black;
}

body
{
	display: flex;
}

.header
{
	text-align: center;
    font-family: system-ui;
    font-weight: 600;
    margin-top: 8%;
    margin-bottom: 8%;
    word-spacing: 0.2em;
    letter-spacing: 0.2em;
    font-size: 4em;
}

.split
{
	width: 50%;
}

.formarea
{
	height: 115vh;
	color: white;
	background-color: #13003d;
}

.tablearea
{
	height: 115vh;
	color: white;
	background-color: #2a1737;
}

.block-label
{
	display: block;
    font-family: system-ui;
    font-weight: 700;
    font-size: larger;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
}

.inline-label
{
	display: inline;
	font-family: system-ui;
	font-size: 1.3em;

}


.block.container.albumnameblock
{
	margin-bottom: 2em;
	width: 60%;
}

.block.container.priceblock
{
	margin-bottom: 2em;
	width: 35%;
}

.block.container.albumdescription
{
	margin-bottom: 2em;
	width: 100%;
}

.block.container.albumreleasedate
{
	margin-bottom: 2em;
	width: 100%;
}

.block.container.targetaud
{
	width: 100%;
}

.block.container.genres
{
	width: 100%;
}



.albumnameblock .block-core-div
{
	width: 70%;
	padding-left: 20%;
}

.priceblock .block-core-div
{
	width: 70%;
}

.albumdescription .block-core-div
{
	width: 88%;
	margin-left: 12%;
}

.albumreleasedate .block-core-div
{
	width: 88%;
	margin-left: 12%;
}



.albumdescription .block-core-div .block-label
{
	width: 81.5%;
}

.albumreleasedate .block-core-div .block-label
{
	width: 81.5%;
}




input#name
{
	margin-top: 1%;
    margin-bottom: 2%;
    margin-right: 9.5%;
    width: 100%;
    height: 3em;
    background-color: #251d4a;
    border: none;
    font-size: 1.4em;
    padding-left: 1%;
    letter-spacing: 0.2em;
    text-align: center;
    border-radius: 26px;
    color: wheat;
}

input#price
{
	margin-top: 1%;
    margin-bottom: 2%;
    width: 100%;
    height: 3em;
    background-color: #251d4a;
    border: none;
    font-size: 1.4em;
    padding-left: 1%;
    letter-spacing: 0.2em;
    text-align: center;
    border-radius: 26px;
    color: wheat;
}

input#releasedate
{
	margin-top: 1%;
    margin-bottom: 0.8%;
    width: 81.5%;
    height: 3em;
    background-color: #251d4a;
    border: none;
    font-size: 1.4em;
    padding-left: 1%;
    letter-spacing: 0.2em;
    text-align: center;
    border-radius: 26px;
    color: wheat;
}


textarea#desc
{
	margin-top: 1%;
    margin-bottom: 0.8%;
    width: 81.5%;
    min-width: 81.5%;
    max-width: 81.5%;
    height: 5em;
    min-height: 5em;
    max-height: 8em;
    background-color: #251d4a;
    border: none;
    font-size: 1.4em;
    padding-left: 1%;
    padding-top: 2%;
    letter-spacing: 0.2em;
    text-align: center;
    border-radius: 26px;
    color: wheat;	
}

input#name:focus, input#price:focus, textarea#desc:focus
{
	outline: none;
}

#validatorMessage
{
	margin: 0%;
    text-align: center;
    color: #ff5e00;
    font-size: larger;
    font-family: monospace;
    display: none;
}

.albumdescription #validatorMessage, .albumreleasedate #validatorMessage
{
	width:81.5%;
}

.genres #validatorMessage, .targetaud #validatorMessage,
{
	width: 100%;
}


.audienceoptionsholder, .genreholder
{
	display: flex;
    justify-content: center;
    margin-top: 1%;
    margin-bottom: 0.8%;
}

.audienceoption_block, .genreoption_block
{
	width: 14%;
	text-align: center;
}

.big-radio
{
	height: 1.8em;
    width: 2em;
}

.border-left
{
	border-left: 1px solid white;
}

.border-right
{
	border-right: 1px solid white;
}

.extra-bottom-margin
{
	margin-bottom: 3em;
}

.submit
{
	display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1.5rem;
    line-height: 1.5;
    border-radius: 0.8rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    background-color: #000000;
    color: #f2cf8d;
    letter-spacing: 0.1em;
    border: 1px solid wheat;
}

.submit:focus
{
	outline: none;
}

.submit:hover
{
	background-color: #2a1737;
}
.footer
{
	width: 100%;
	display: flex;
	justify-content: center;
	transform: translate(0%, 130%);
}



/*Breakpoint division*/

.data-table
{
	width: 90%;
    margin-left: 5%;
}
.column, .tablehead
{
	font-family: system-ui;
    font-weight: 700;
    font-size: larger;
    letter-spacing: 0.2em;
    padding: 1%;
    border: none;
    background-color: #4f2f3e;
    color: #ffadad;
}

.albumname
{
	width: 20%;
	max-width: initial;
    overflow-wrap: anywhere;
}

.albumprice
{
	width: 10%;
	max-width: initial;
    overflow-wrap: anywhere;
}

.albumdesc
{
	width: 30%;
	max-width: initial;
    overflow-wrap: anywhere;
}

.albumtargetaud
{
	width: 12%;
}

.albumgenres
{
	width: 12%;
	max-width: initial;
    overflow-wrap: anywhere;
}

.albumreldate
{
	width: 16%;
}

.recordrow
{
	text-align: center;
    padding: 1%;
    font-weight: 400;
}

form
{
	display: flex;
	flex-wrap: wrap;
}